{% extends "layout.html" %}
{% import "_macros.html" as macros %}

{% block content %}
<script type="text/javascript" src="{{url_for('static', filename='js/lazyFade.js')}}"></script>

<div class="posts">
  {% if posts==[] %}
  <h1>本标签下没文章</h1>
  {% else %}
      <h1>标签：{{tag.name}}</h1>
        {% include '_post.html' %}

  <div class="pagination">
    {{macros.pagination_widget(pagination, 'main.tag', name=tag.name)}}
  </div>

{% endif %}
</div>


<script type="text/javascript">
$('.posts .post').lazyFade({
    reverse: false,
    duration: 500,
    delay: 100,
    opacity: {
        start: 0.01,
        end: 1
    }
});
</script>

{% endblock %}
